/*Start Style Css Header*/
/* ----------------------------------------------------- */
.header {
  width: 100%;
  height: 700px;
  padding: 10px;
  background-color: #EE798E;
}

.span__class i {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
}

@media (min-width: 500px) {
  .span__class span {
    display: inline;
    float: right;
  }
}

@media (min-width: 992px) {
  .span__class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
  }
}

.header__Logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
}

@media (min-width: 992px) {
  .header__Logo {
    text-align: right;
  }
}

.img__header img {
  width: 550px;
  height: 550px;
}

@media (min-width: 500px) {
  .img__header {
    float: right;
  }
  .img__header img {
    width: 400px;
    height: 350px;
  }
}

@media (min-width: 768px) {
  .img__header {
    display: inline-block;
    float: right;
    margin: auto;
    margin-left: 20px;
  }
  .img__header img {
    width: 500px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .img__header {
    float: left;
  }
  .img__header img {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 992px) {
  .header__Text {
    margin-top: 10%;
  }
}

.header__span--Text1 {
  color: #FFFFFF;
  font-size: 16px;
  text-align: right;
}

@media (min-width: 500px) {
  .header__span--Text1 {
    text-align: center;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .header__span--Text1 {
    font-size: 14px;
    text-align: right;
  }
}

.header__span--Text2 {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: bolder;
  text-align: right;
}

@media (min-width: 500px) {
  .header__span--Text2 {
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .header__span--Text2 {
    font-size: 56px;
    text-align: right;
  }
}

.header__Btn {
  color: #EE798E;
}

@media (min-width: 500px) {
  .header__Btn {
    width: 150px;
    margin: 10px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

ul li a {
  color: #FFFFFF;
  font-size: 14px;
}

@media (min-width: 500px) {
  ul li a {
    font-size: 10px;
    padding: 0px;
  }
}

@media (min-width: 992px) {
  ul li a {
    font-size: 14px;
  }
}

/*end style header*/
/* ----------------------------------------------------- */
/*start style card*/
.text__title--red {
  color: red;
}

.Row__margin {
  margin-top: 5%;
}

.Card__Body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 100px;
}

@media (min-width: 500px) {
  .Card__Body {
    display: -ms-inline-grid;
    display: inline-grid;
  }
}

@media (min-width: 768px) {
  .Card__Body {
    display: inline-table;
  }
}

@media (min-width: 992px) {
  .Card__Body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Card__Body .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #EE798E;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
}

@media (min-width: 500px) and (max-width: 767px) {
  .Card__Body .card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 200px;
    height: 250px;
  }
  .Card__Body .card img {
    width: 100px;
    margin: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Card__Body .card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .Card__Body .card img {
    width: 100px;
    margin: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .Card__Body .card {
    padding: 15px;
  }
}

.card__span1 {
  font-size: 18px;
  font-weight: bold;
}

.card__span2 {
  color: #817678;
  font-size: 12px;
  font-weight: bold;
}

.img_rounded {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

/*end style card*/
/*shoping style*/
@media (min-width: 500px) {
  .img__shoping img {
    width: 400px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  .img__shoping img {
    width: 500px;
    height: 600px;
  }
}

@media (min-width: 992px) {
  .img__shoping img {
    width: 550px;
    height: 650px;
    float: right;
  }
}

/*end shoping style/*

/*start style for cardoffer*/
.Card__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 50px;
}

@media (min-width: 500px) {
  .Card__offer {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 768px) {
  .Card__offer {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 992px) {
  .Card__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card__boxing {
  -webkit-box-shadow: 2px 2px 2px 2px #FFE7EB;
          box-shadow: 2px 2px 2px 2px #FFE7EB;
  border-radius: 20px !important;
}

@media (min-width: 768px) {
  .card__boxing {
    width: 400px;
  }
  .card__boxing img {
    width: 180px;
    height: 180px;
    margin-right: 25%;
  }
}

@media (min-width: 992px) {
  .card__boxing img {
    width: 100px;
    height: 100px;
  }
}

.card__img {
  height: 100px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.c__b span {
  font-size: 12px;
}

.btn__1 {
  width: 20px;
  height: 20px;
  font-size: 10px !important;
  padding: 0% !important;
  text-align: center;
  float: right;
  margin-top: 5px;
}

.btn__2 {
  font-size: 10px !important;
  padding: 0% !important;
  border-radius: 40px !important;
  width: 50px;
}

@media (min-width: 992px) {
  .price {
    font-size: 12px;
  }
}

.r__btn,
.l__btn {
  border-radius: 80px !important;
  font-size: 10px !important;
}

/*end*/
/*start style for Do you need
consultation */
.img__count img {
  width: 550px;
  height: 650px;
}

@media (min-width: 500px) {
  .img__count img {
    width: 400px;
    height: 500px;
    display: block;
  }
}

@media (min-width: 768px) {
  .img__count img {
    width: 600px;
    height: 550px;
    display: block;
  }
}

@media (min-width: 992px) {
  .img__count img {
    width: 550px;
    height: 650px;
    float: left;
  }
}

.count__need {
  float: right;
  margin-top: 120px;
}

@media (min-width: 500px) {
  .btn__search {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .btn__search {
    margin-top: 100px;
  }
}

.btn__search input[type=search] {
  width: 250px !important;
  height: 40px !important;
  border-radius: 15px !important;
  border: none;
  background-color: #f1e8e9;
  text-align: left;
  font-size: 10px !important;
}

.b__callback {
  position: absolute;
  height: 40px;
  font-size: 14px !important;
  border-radius: 20px !important;
}

/*end style for Do you need
consultation */
/*start style for card__main*/
.Card__main {
  padding-top: 50px;
  text-align: center;
  height: auto !important;
  background-color: #FFE7EB !important;
  border-radius: 100px !important;
}

@media (min-width: 500px) {
  .row__categoris {
    display: -ms-grid;
    display: grid;
  }
}

.Card__main h1 span {
  color: red;
  font-weight: bold;
  text-align: center;
}

.c__style {
  border: none !important;
  -webkit-box-shadow: 2px 1px 2px #e4dddf;
          box-shadow: 2px 1px 2px #e4dddf;
  text-align: center;
  border-radius: 20px !important;
  width: 200px !important;
  padding: 15px !important;
  margin: 15px !important;
}

@media (min-width: 500px) {
  .c__style {
    display: -ms-grid;
    display: grid;
  }
}

.c__style button,
span {
  margin-top: 20px;
}

.c__style button {
  margin-right: 35px;
  border-radius: 15px;
  width: 100px;
  font-size: 10px !important;
}

/*end style for card__main*/
/* start style for c__img__Overly*/
.Card__Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

@media (min-width: 500px) {
  .Card__Box {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 768px) {
  .Card__Box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c__img_overly1 img {
  width: 200px;
  height: 300px;
}

.c__img_overly1 {
  margin-right: 20px;
  border: none !important;
  padding: 10px !important;
}

.c__img_overly2 img {
  border: none !important;
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (min-width: 500px) {
  .Text__style {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 992px) {
  .Text__style {
    position: relative;
    float: right;
    padding-top: 15px;
  }
}

.btn__chevron,
.span__style {
  margin-top: 50px;
}

/* end style for c__img__Overly*/
/*start style for c__Subscribe*/
.c__Subscribe {
  border: none !important;
  margin-top: 100px;
  width: 900px;
  text-align: center;
  -webkit-box-shadow: 2px 3px 5px 3px #D22745;
          box-shadow: 2px 3px 5px 3px #D22745;
  position: absolute;
  top: 120px;
  z-index: 33;
  height: 250px;
  border-radius: 30px !important;
}

.c__Subscribe h1 span {
  color: red;
}

.c__Subscribe h1 {
  margin-top: 20px;
}

@media (min-width: 500px) {
  .c__Subscribe {
    width: 400px;
    font-size: 10px;
  }
  .c__Subscribe h1 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .c__Subscribe {
    width: 700px;
    font-size: 14px;
  }
  .c__Subscribe h1 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .c__Subscribe {
    border: none !important;
    margin-top: 100px;
    width: 900px;
    text-align: center;
    -webkit-box-shadow: 2px 3px 5px 3px #D22745;
            box-shadow: 2px 3px 5px 3px #D22745;
    position: absolute;
    top: 120px;
    z-index: 33;
    height: 250px;
    border-radius: 30px !important;
  }
  .c__Subscribe h1 span {
    color: red;
  }
  .c__Subscribe h1 {
    font-size: 40px;
  }
}

.b__subscrib {
  width: 120px;
  height: 50px;
  border-radius: 30px !important;
  position: absolute;
  bottom: 23px;
  right: 180px;
}

@media (min-width: 500px) {
  .b__subscrib {
    position: absolute;
    width: 80px;
    height: 40px;
    bottom: 70px;
    right: 50px;
  }
}

@media (min-width: 768px) {
  .b__subscrib {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 50px;
    right: 100px;
  }
}

@media (min-width: 992px) {
  .b__subscrib {
    position: absolute;
    width: 120px;
    height: 48px;
    bottom: 25px;
    right: 150px;
  }
}

.btn__search-2 input[type=search] {
  width: 450px !important;
  height: 50px !important;
  border-radius: 25px !important;
  border: none;
  background-color: #f1e8e9;
  text-align: left;
  font-size: 10px !important;
  margin-top: 60px;
}

@media (min-width: 500px) {
  .btn__search-2 input[type=search] {
    width: 300px !important;
    height: 40px !important;
  }
}

@media (min-width: 768px) {
  .btn__search-2 input[type=search] {
    width: 400px !important;
    height: 50px !important;
  }
}

@media (min-width: 992px) {
  .btn__search-2 input[type=search] {
    width: 450px !important;
    height: 50px !important;
  }
}

/*end style for c__Subscribe*/
/* ----------------------------------------------------- */
/* start style for Footer*/
.foortr__style {
  width: 100%;
  background-color: #D22745;
  height: auto;
  border-top-left-radius: 18%;
  border-top-right-radius: 18%;
}

.t__span {
  padding: 20%;
}

.footer__span_text {
  text-align: center;
  color: #f1e8e9;
}

@media (min-width: 500px) {
  .footer__span_text {
    font-size: 10px;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .footer__span_text {
    font-size: 20px;
  }
}

/* ----------------------------------------------------- */
/*# sourceMappingURL=style.css.map */