/*Start Style Css Header*/
@import '../../const/_const';
@import "../../mixin/_mixin";

.header {
    width: 100%;
    height: 700px;
    padding: 10px;
    background-color: $pink-color;

    &--span {
        i {
            width: 20px;
            height: 20px;

            color: $white-color;
        }


        @include small {
            span {
                display: inline;
                float: right;
            }
        }

        @include large {

            display: flex;
            float: left;
        }
    }

    &--nav {

        ul {
            li {
                a {
                    color: $white-color;
                    font-size: $size2;
                    margin: 10px;

                    @include small {
                        font-size: 10px;
                        padding: 0px;

                    }

                    @include large {
                        font-size: 14px;
                    }

                }
            }
        }


    }

    &--logo {
        color: $white-color;
        font-weight: bold;
        font-size: $size7;

        @include large {
            text-align: right;
        }
    }

    &--image {
        img {
            width: 550px;
            height: 550px;

        }

        @include small {
            img {
                width: 400px;
                height: 350px;
            }

            float: right;
        }

        @include medium {
            img {
                width: 500px;
                height: 450px;
            }

            display: inline-block;
            float: right;
            margin: auto;
            margin-left: 20px;
        }

        @include large {
            float: left;

            img {
                width: 550px;
                height: 550px;
            }
        }
    }

    &__Text {
        @include large {
            margin-top: 10%;
        }

        &--title {
            color: $white-color;
            font-size: 50px;
            font-weight: bolder;
            text-align: right;

            @include small {
                font-size: $size3;
                text-align: center;
            }

            @include large {
                font-size: 46px;
                text-align: right;
            }
        }

        &--span {
            color: $white-color;
            font-size: $size3;
            text-align: right;

            @include small {
                text-align: center;
                font-size: $size1;
            }

            @include large {
                font-size: 14px;
                text-align: right;
            }
        }

        &--btn {
            color: $pink-color;


            @include small {
                width: 150px;
                margin: 10px;
                align-content: center;
            }
        }
    }
}









/*end style header*/