@import '../../const/_const';
@import "../../mixin/_mixin";

/* start style for Footer*/
.foortr__style {
    width: 100%;
    background-color: $bg-footer;
    height: auto;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
  
}
.t__span{
    padding: 20%;
   
}
.footer__span_text {
    text-align: center;
    color: $bg-search;
    @include small{
        font-size: 10px;
        margin-top: 30px;
        
    }
    
    @include large{
        font-size: 20px;
  
        
    }
}

