@import '../../const/_const';
@import "../../mixin/_mixin";

/*start style card*/
.text__title--red {
    color: $red-color;
}

.Row__margin {
    margin-top: 5%;
}

.Card__Body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;

    @include small {
        display: inline-grid;

    }

    @include medium {
        display: inline-table;
    }

    @include large {
        box-sizing: border-box;
        display: flex;
        justify-content: center;

    }

}

.Card__Body .card {

    box-sizing: border-box;
    border: 2px solid $pink-color;
    text-align: center;
    border-radius: 30px;
    padding: 15px;

    @include small-only {
        display: inline-flex;
        width: 200px;
        height: 250px;

        img {
            width: 100px;
            margin: 30px;

        }
    }

    @include medium-only {
        display: inline-flex;

        img {
            width: 100px;
            margin: 30px;

        }

    }

    @include large-only {
        padding: 15px;

    }
}

.card__span1 {
    font-size: 18px;
    font-weight: bold;


}

.card__span2 {
    color: $secondary-color;
    font-size: 12px;
    font-weight: bold;

}



.img_rounded {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;


}

/*end style card*/


/*shoping style*/
// .Text__shoping{
//     @include small{
//         font-size: ;
//     }
// }

.img__shoping {
    @include small {
        img {
            width: 400px;
            height: 500px;
        }

    }

    @include medium {
        img {
            width: 500px;
            height: 600px;
        }
    }

    @include large {
        img {
            width: 550px;
            height: 650px;
            float: right;
        }
    }
}

/*end shoping style/*

/*start style for cardoffer*/
.Card__offer {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 50px;

    @include small {
        display: grid;

    }

    @include medium {
        display: grid;
    }

    @include large {
        display: flex;
    }
}

.card__boxing {
    box-shadow: 2px 2px 2px 2px $bg-product;
    border-radius: 20px !important;

    @include medium {
        width: 400px;

        img {
            width: 180px;
            height: 180px;
            margin-right: 25%;
        }
    }

    @include large {
        img {
            width: 100px;
            height: 100px;

        }
    }

}

.card__img {

    height: 100px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.c__b {
    span {
        font-size: $size1;
    }
}

.btn__1 {
    width: 20px;
    height: 20px;
    font-size: 10px !important;
    padding: 0% !important;
    text-align: center;
    float: right;
    margin-top: 5px;

}

.btn__2 {
    font-size: 10px !important;
    padding: 0% !important;
    border-radius: 40px !important;
    width: 50px;
    // @include small{
    //     width: 30px;
    //     font-size: 8px;
    // }

}

.price {
    @include large {
        font-size: $size1;
    }
}

.r__btn,
.l__btn {

    border-radius: 80px !important;
    font-size: 10px !important;


}

/*end*/
/*start style for Do you need
consultation */

.img__count img {
    width: 550px;
    height: 650px;

    @include small {
        width: 400px;
        height: 500px;
        display: block;
    }

    @include medium {
        width: 600px;
        height: 550px;
        display: block;
    }

    @include large {
        width: 550px;
        height: 650px;
        float: left;
    }
}

.count__need {
    float: right;
    margin-top: 120px;
}

.btn__search {

    @include small {
        margin-top: 20px;
    }

    @include large {
        margin-top: 100px;
    }
}

.btn__search input[type=search] {
    width: 250px !important;
    height: 40px !important;
    border-radius: 15px !important;
    border: none;
    background-color: $bg-search;
    text-align: left;
    font-size: 10px !important;


}

.b__callback {
    position: absolute;
    height: 40px;

    font-size: 14px !important;
    border-radius: 20px !important;
}

/*end style for Do you need
consultation */

/*start style for card__main*/
.Card__main {
    padding-top: 50px;
    text-align: center;

    height: auto !important;
    background-color: #FFE7EB !important;
    // position: relative;
    // right: 250px;
    // top: 150px;
    border-radius: 100px !important;


}

.row__categoris {
    @include small {
        display: grid;
    }
}

.Card__main h1 span {
    color: $red-color;
    font-weight: bold;
    text-align: center;
}

.c__style {
    border: none !important;
    box-shadow: 2px 1px 2px #e4dddf;
    text-align: center;
    border-radius: 20px !important;
    width: 200px !important;
    padding: 15px !important;
    margin: 15px !important;

    @include small {
        display: grid;
    }
}

.c__style button,
span {
    margin-top: 20px;

}

.c__style button {
    margin-right: 35px;
    border-radius: 15px;
    width: 100px;
    font-size: 10px !important;
}

/*end style for card__main*/
/* start style for c__img__Overly*/
.Card__Box {
    display: flex;
    justify-content: center;
    padding: 0px;

    @include small {
        display: grid;
    }

    @include medium {
        display: flex;
    }
}

.c__img_overly1 img {
    width: 200px;
    height: 300px;
}

.c__img_overly1 {
    margin-right: 20px;
    border: none !important;
    padding: 10px !important;
}

.c__img_overly2 img {
    border: none !important;
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.Text__style {

    @include small {
        display: grid;
    }

    @include large {

        position: relative;
        float: right;
        padding-top: 15px;

    }

}

.btn__chevron,
.span__style {
    margin-top: 50px;
}

/* end style for c__img__Overly*/


/*start style for c__Subscribe*/
.c__Subscribe {
    border: none !important;
    margin-top: 100px;
    width: 900px;
    text-align: center;
    box-shadow: 2px 3px 5px 3px $bg-footer;
    position: absolute;
    top: 120px;
    z-index: 33;
    height: 250px;
    border-radius: 30px !important;

    h1 span {
        color: $red-color;
    }

    h1 {
        margin-top: 20px;
    }

    @include small {
        width: 400px;
        font-size: 10px;

        h1 {
            font-size: 14px;
        }

    }

    @include medium {
        width: 700px;
        font-size: 14px;

        h1 {
            font-size: 18px;
        }
    }

    @include large {
        border: none !important;
        margin-top: 100px;
        width: 900px;
        text-align: center;
        box-shadow: 2px 3px 5px 3px $bg-footer;
        position: absolute;
        top: 120px;
        z-index: 33;
        height: 250px;
        border-radius: 30px !important;

        h1 span {
            color: $red-color;
        }

       h1{
           font-size: 40px;
       }
    }

}

.b__subscrib {
    width: 120px;
    height: 50px;
    border-radius: 30px !important;
    position: absolute;
    bottom: 23px;
    right: 180px;
    @include small{
        position: absolute;
        width: 80px ;
        height: 40px;
        bottom: 70px;
        right: 50px;
    }

    @include medium{
        position: absolute;
        width: 100px;
        height: 50px;
        bottom: 50px;
        right: 100px;
    }


    @include large{
        position: absolute;
        width: 120px;
        height: 48px;
        bottom: 25px;
        right: 150px;
    }

}

.btn__search-2 input[type=search] {
    width: 450px !important;
    height: 50px !important;
    border-radius: 25px !important;
    border: none;
    background-color: $bg-search;
    text-align: left;
    font-size: 10px !important;
    margin-top: 60px;
    @include small{
        width: 300px !important;
        height: 40px !important;
    }
    @include medium{
        width: 400px !important;
        height: 50px !important;
    }
    @include large{
        width: 450px !important;
        height: 50px !important;
    }
}

/*end style for c__Subscribe*/