$pink-color: #EE798E;
$red-color: red;
$white-color: #FFFFFF;
$secondary-color: #817678;
$blue-color: #4927d2;
$bg-search:#f1e8e9;
$bg-categoris:#b28890;
$bg-product:#FFE7EB;
$bg-footer:#D22745;











/* ----------------------------------------------------- */

$size:10px;
$size1:12px;
$size2:14px;
$size3:16px;
$size4:18px;
$size5:20px;
$size6:22px;
$size7:24px;
$size8:26px;
$size-border-radius:50px;