$small-width: 500px;
$medium-width: 768px;
$large-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;


// @mixin extra-small {
//     @media  (min-width: #{$size-px})and(max-width: #{$small-width - $size-px})  {
//         @content;
//     }
// }

// @mixin small-down {
//     @media (max-width: #{$medium-width - 1px}) {
//         @content;
//     }
// }


@mixin small {
    @media (min-width: #{$small-width}) {
        @content;
    }
}

@mixin small-only {
    @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
        @content;
    }
}



@mixin medium {
    @media (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin medium-only {
    @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
        @content;
    }
}




@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}

@mixin large-only {
    @media (min-width: #{$large-width})and(max-width: #{$xl-width - 1px}) {
        @content;

    }
}

@mixin xl {
    @media (min-width: #{$xl-width}) {
        @content;
    }
}

@mixin xl-only {
    @media (min-width: #{$xl-width})and(max-width: #{$xxl-width - 1px}) {
        @content;

    }
}

@mixin xxl {
    @media (min-width: #{$xxl-width}) {
        @content;
    }
}